<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Minimal Django File Upload Example</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
    </head>

    <body>
        <!-- List of uploaded documents -->

        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="/superez/list">Улучшение разрешения</a>
        </nav>

        <div class="container" style="padding-top: 20px;">
            <div class="row">
                <div class="col">
                    {% if documents %}
                        {% for document in documents %}
                            <img src="/superez/images/{{ document }}" class="img-thumbnail"/>
                        {% endfor %}
                    {% else %}
                        <p>No documents.</p>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <!-- Upload form. Note enctype attribute! -->
                    <form action="{% url "list" %}" method="post" enctype="multipart/form-data" class="form">
                        {% csrf_token %}
                        <p>{{ form.non_field_errors }}</p>

                        <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

                        <p>
                            {{ form.docfile.errors }}
                            {{ form.docfile }}
                        </p>

                        <p><input type="submit" value="Загрузить изображение" class="btn btn-primary mb-2"/></p>
                    </form>
                </div>
            </div>
        </div>
    </body>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>